@charset "utf-8";
*{margin:0px;padding:0px;list-style-type:none;}
a,img{border:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}


.wapper{width:auto;height:490px;background-color: #ffffff;margin:0 auto;margin-top:60px;overflow:hidden;}

.wapper ul{margin-top:30px;margin-left:60px;}

.wapper li{float:left;margin-left:30px;width:270px;height:430px;background-color:#fff;color:#fff;text-align:center;font-weight:bold;display:inline-block;}

.wapper li .pic{margin:0 0 30px 0;}
.wapper li .title{margin:0 10px 2px}
.wapper li .title a{color:#333;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;_zoom:1}
.wapper li .desc{margin:0 10px 10px;height:18px;font-size:12px;text-align:center;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;_zoom:1;color:#b0b0b0}
.wapper li .price{margin:0 10px 14px;color:#ff6700;}

.wapper li{
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

}
.wapper li:hover {
    transform:translate(0,-10px);
    -webkit-transform:translate(0,-10px);
    -moz-transform:translate(0,-10px);
    -o-transform:translate(0,-10px);
    -ms-transform:translate(0,-10px);
    -webkit-box-shadow:0px 5px 15px #e5e5e5;
    -moz-box-shadow:0px 5px 15px #e5e5e5;
    box-shadow:0px 5px 15px #e5e5e5;
}